<h2>人员登记系统</h2>
<div class="people_list">
    <ul >
        <li>姓名：<input type="text" [(ngModel)]="peopleInfo.username"></li>
        <li>性别：
            <input type="radio" name="gender" id="gender1" value="1" [(ngModel)]="peopleInfo.gender"> <label for="gender1">男</label>
            <input type="radio" name="gender" id="gender2" value="2" [(ngModel)]="peopleInfo.gender"> <label for="gender2">女</label>
        </li>
        <li>城市：
            <select name="city" id="city" [(ngModel)]="peopleInfo.city">
                <option [value]="item" *ngFor="let item of peopleInfo.cityList">{{item }}</option>
            </select>
        </li>
        <li>
            爱好：
            <span *ngFor="let item of peopleInfo.hobby; let i = index">
                <input type="checkbox" name="hobby" [id]="'hobby' + i" [(ngModel)]="item.checked"> <label [for] ="'hobby'+i">{{item.title}}</label>
            </span>
        </li>
        <li>
            备注:
            <textarea name="mark" id="mark" cols="30" rows="10" [(ngModel)]="peopleInfo.mark"></textarea>
        </li>
    </ul>
    <button (click)="doSubmit()" class="submit">提交</button>
</div>
{{peopleInfo | json}}